<form style="padding-top:30px;">
  <!--<div class="form-group row">
    <label for="citta" class="col-sm-2 col-form-label">Città</label>
    <div class="col-sm-4">
      <select class="form-control form-control-sm" id="citta" name="citta"
              [ngModel]="citta"
              (ngModelChange)="getPrevisione($event)">
        <option *ngFor="let item of elencocitta" [value]="item.id">
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>-->
  <app-select [items]="elencocitta" 
              [name]="'citta'" 
              [label]="'Città'" 
              [selectedItem]="citta" 
              (selectedItemChange)="getPrevisione($event)">
  </app-select>
</form>

<div *ngIf="previsione !== null">
  <div class="card">
    <div class="card-header text-white bg-dark">
      <h3>{{title}} a {{previsione.city.name}}</h3>
    </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr class="table-active">
          <th scope="col">#</th>
          <th></th>
          <th scope="col">Data</th>
          <th scope="col">Ora</th>
          <th colspan="2" scope="col">Tempo</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of pagePrevisioni; let i=index;">
        <tr [attr.aria-expanded]="!item.isCollapsed" aria-controls="collapseExample">
          <th scope="row">{{i+1+((currentPage-1)*pageSize)}}</th>
          <td>
            <button style="padding-top:2px;padding-bottom:2px;" type="button" class="btn btn-primary btn-sm" title="{{ !item.isCollapsed ? 'Apri dettaglio' : 'Chiudi dettaglio' }}"
                    (click)="item.isCollapsed = !item.isCollapsed">
              <i class="fa fa-thermometer-half" aria-hidden="true"></i>
            </button>
          </td>
          <td>{{getData(item.dt_txt)}}</td>
          <td>{{getOra(item.dt_txt)}}</td>
          <td style="width:20px;">
            <app-iconameteo [tempo]="item.weather[0].description"></app-iconameteo>
          </td>
          <td style="margin-top:-1px;" class="d-none d-sm-block">{{item.weather[0].description}}</td>
          <td style="margin-top:-1px;" class="d-block d-sm-none"></td>
        </tr>
        <tr>
          <td class="nopadding" colspan="6">
            <div id="collapseExample" [ngbCollapse]="!item.isCollapsed">
              <div class="content">
                <app-previsioni-dettaglio [tempo]="item.main"></app-previsioni-dettaglio>   
              </div> 
            </div>
          </td>
        </tr>           
      </tbody>
    </table>  
    <div class="col-md-12 justify-content-center">
      <ngb-pagination  [collectionSize]="previsione.list.length" [pageSize]="pageSize" [(page)]="currentPage" size="sm" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>   
  </div>
</div> 
