.nopadding {
    padding: 0 !important;
}

.content {
    padding: 20px;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.margin-table {
    margin-top:20px;   
}