<div *ngIf="previsione !== null">
  <div class="row" style="padding-top:20px">
    <div class="col-md-12">
      <h2>
          {{ title }} a {{ previsione.city.name }}
      </h2>
    </div>
    <table class="margin-table table table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th></th>
            <th scope="col">Data</th>
            <th scope="col">Ora</th>
            <th scope="col">Tempo</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of pagePrevisioni; let i=index;">
          <tr [attr.aria-expanded]="!item.isCollapsed" aria-controls="collapseExample">
            <th scope="row">{{ i + 1 + ((currentPage - 1) * pageSize) }}</th>
            <td>
              <button style="padding-top:2px;padding-bottom:2px;" type="button" class="btn btn-primary btn-sm" title="{{ !item.isCollapsed ? 'Apri dettaglio' : 'Chiudi dettaglio' }}"
                      (click)="item.isCollapsed = !item.isCollapsed">
                <i class="fa fa-thermometer-half" aria-hidden="true"></i>
              </button>
            </td>
            <td>{{ getData(item.dt_txt) }}</td>
            <td>{{ getOra(item.dt_txt) }}</td>
            <td>
              <app-iconameteo [tempo]="item.weather[0].description"></app-iconameteo>
            </td>
          </tr>
          <tr>
            <td class="nopadding" colspan="5">
              <div id="collapseExample" [ngbCollapse]="!item.isCollapsed">
                <div class="content">
                  <app-previsioni-dettaglio [tempo]="item.main"></app-previsioni-dettaglio>   
                </div> 
              </div>
            </td>
          </tr>           
        </tbody>
      </table>  
      <div class="col-md-12 justify-content-center">
        <ngb-pagination  [collectionSize]="previsione.list.length" [pageSize]="pageSize" [(page)]="currentPage" size="sm" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>   
   </div>
</div> 
