<div class="row">
  <div class="col-md-3"><strong>Temperatura</strong></div>
  <div class="col-md-4">{{ tempo.temp}}°</div>
</div>
<div class="row">
  <div class="col-md-3"><strong>Temperatura Minima</strong></div>
  <div class="col-md-4">{{ tempo.temp_min}}°</div>
</div>
<div class="row">
  <div class="col-md-3"><strong>Temperatura Massima</strong></div>
  <div class="col-md-4">{{ tempo.temp_max}}°</div>
</div>
<div class="row">
  <div class="col-md-3"><strong>Umidità</strong></div>
  <div class="col-md-4">{{ tempo.humidity}}%</div>
</div>
