<div class="row" style="padding-top:20px">
  <div class="col-md-12">
    <h2>
        {{ title }} a {{ json.name}}
    </h2>
  </div>
</div>
  
<div class="row">
  <div class="col-md-2 text-right"><strong>Situazione attuale</strong></div>
  <div class="col-md-4">{{ json.weather[0].description}}</div>
</div>
<div class="row">
  <div class="col-md-2 text-right"><strong>Temperatura</strong></div>
  <div class="col-md-4">{{ json.main.temp}}°</div>
</div>
<div class="row">
  <div class="col-md-2 text-right"><strong>Temperatura Min</strong></div>
  <div class="col-md-4">{{ json.main.temp_min}}°</div>
</div>
<div class="row">
  <div class="col-md-2 text-right"><strong>Temperatura Max</strong></div>
  <div class="col-md-4">{{ json.main.temp_max}}°</div>
</div>
